html, body {
  height: 100%;
}
#map-canvas {
  width:100%;
  height:100%;
  position:absolute;
}
#main, #main>.row {
  height: 100%;
}
#right {
  height: 100%;
  overflow-y: scroll;
  padding: 0px;
}
#left {
  padding: 0px;
  height: 100%;
}  
.tweets-body {
  padding: 0px; 
  margin-top: -5px;
}
li.list-group-item {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #ddd;
  font-size: 12px;
  padding-top: 0px;
}
li.list-group-item:hover { 
  background-color: rgba(86,61,124,.1); 
}
